<form onsubmit={{action "submitForm" }}>
  <div class="field">
    <label>{{t "book.attrs.bookName"}}</label>
    {{input type="text" placeholder=(t "book.attrs.bookName") value=bookName}}
    {{#if (and errorView (v-get this 'bookName' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'bookName' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "book.attrs.author"}}</label>
    {{input type="text" placeholder=(t "book.attrs.author") value=author}}
    {{#if (and errorView (v-get this 'author' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'author' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "book.attrs.pagesNumber"}}</label>
    {{input type="text" placeholder=(t "book.attrs.pagesNumber") value=pagesNumber}}
    {{#if (and errorView (v-get this 'pagesNumber' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'pagesNumber' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "book.attrs.cover"}}</label>
    {{input type="text" placeholder=(t "book.attrs.cover") value=cover}}
    {{#if (and errorView (v-get this 'cover' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'cover' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "book.attrs.tags"}}</label>
    {{input type="text" placeholder=(t "book.attrs.tags") value=tags}}
    {{#if (and errorView (v-get this 'tags' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'tags' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">{{t "save"}}</button>
  </div>
</form>