<form onsubmit={{action "submitForm" }}>
  <div class="field">
    <label>{{t "email"}}</label>
    {{input type="text" placeholder=(t "email") value=email}}

    {{#if (and errorView (v-get this 'email' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'email' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "register.username"}}</label>
    {{input type="text" placeholder=(t "register.username") value=username}}

    {{#if (and errorView (v-get this 'username' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'username' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "password"}}</label>
    {{input type="password" placeholder=(t "password") value=password}}

    {{#if (and errorView (v-get this 'password' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'password' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="field">
    <label>{{t "register.passwordConfirmation"}}</label>
    {{input type="password" placeholder=(t "register.passwordConfirmation") value=passwordConfirmation}}

    {{#if (and errorView (v-get this 'passwordConfirmation' 'isInvalid'))}}
    <span class="error-message">
      {{v-get this 'passwordConfirmation' 'message'}}
    </span>
    {{/if}}
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">{{t "save"}}</button>
  </div>
</form>