<div class="slide-out-bg"></div>

<div class="slide-out">
  <div class="slide-out-card">
    {{#link-to "book.index" class="btn-back"}}
    <span class="sr-only">Back</span>
    {{/link-to}}

    <div class="slide-out-heading">
      <div class="title">
        <h3>{{model.bookName}}</h3>

        {{#if (await (can "edit record" model))}}
          <div class="actions">
            {{#link-to "book.edit" model.id class="btn-pop"}}edit{{/link-to}}

            <button class="btn-recessed" onclick={{action "deleteBook"}}>delete</button>
          </div>
        {{/if}}
      </div>
    </div>

    <div class="slide-out-content">
      <div class="field">
        <label>Book Name</label>
        {{model.bookName}}
      </div>

      <div class="field">
        <label>Author</label>
        {{model.author}}
      </div>

      <div class="field">
        <label>Number of pages</label>
        {{model.pagesNumber}}
      </div>

      <div class="field">
        <label>Cover Link</label>
        {{model.cover}}
      </div>

      <div class="field">
        <label>Tags</label>
        <span>{{#each model.tags as |tag|}}
          {{#link-to "book.search-by-tag" tag class="btn-pop"}}
          {{tag}}
          {{/link-to}}
          {{/each}}
        </span>
      </div>
      <div class="field">
        <label>Reports on this book</label>
        <ul class="collection">
          {{#each model.reports as |report|}}
          <li>
            {{#link-to "report.detail" report.id}}
            {{report.reportDate}}
            {{/link-to}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>