<div class="app">
    <nav class="main-nav">
        <h1 class="logo">
            {{#link-to "index"}}
            <span class="logo">Ember Library</span>
            {{/link-to}}
        </h1>

        <ul>
            {{#if session.isAuthenticated}}
            <li>
                {{#link-to "book"}}{{t "application.books"}}{{/link-to}}
            </li>
            <li>
                {{#link-to "speaker"}}{{t "application.speakers"}}{{/link-to}}
            </li>
            <li>
                {{#link-to "report"}}{{t "application.reports"}}{{/link-to}}
            </li>
            <li>
                {{#link-to "event"}}{{t "application.events"}}{{/link-to}}
            </li>
            <li>
                <a href="#" onclick={{action "logout" }}>{{t "application.logout"}}</a>
            </li>
            {{else}}
            <li>
                {{#link-to "register"}}{{t "application.register"}}{{/link-to}}
            </li>
            <li>
                {{#link-to "login"}}{{t "application.login"}}{{/link-to}}
            </li>
            {{/if}}
        </ul>

        <div class="current-user">
            <select id="languageSelect" onchange={{action "changeLocale" }}>
                <option value="ru" selected={{isRussian}}>Ru</option>
                <option value="en" selected={{isEnglish}}>En</option>
            </select>
        </div>
        {{#if session.isAuthenticated}}
        <div class="current-user">
            {{t "application.greetings"}}, <strong>{{currentUser.user.username}}</strong>
        </div>
        {{/if}}
    </nav>

    <main class="app-content">{{outlet}}</main>
</div>