<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder=(t "event.search") value=search}}
  </div>

  {{#link-to "event.create" class="btn-new"}}
    <div class="sr-only">{{t "event.action"}}</div>
  {{/link-to}}
</div>

<div class="panel-content">
  <h3 class="panel-title">{{t "event.title"}}</h3>

  {{#if isLoading}}
  <h2>{{t "loading"}}</h2>
  {{else}}
  <ul class="collection">
    {{#each model as |event|}}
          {{event-item tagName='li' eventId=event.id eventDate=event.eventDate}}
    {{/each}}   
  </ul>
  {{/if}}
</div>

{{outlet}}