<div class="panel-heading">
  <div class="search">
    {{input type="text" placeholder=(t "speaker.search") input=(action "searchInputChange") value=searchLater}}
  </div>

  {{#link-to "speaker.create" class="btn-new"}}
    <div class="sr-only">{{t "speaker.action"}}</div>
  {{/link-to}}
</div>

<div class="panel-content">
  <h3 class="panel-title">{{t "speaker.title"}}</h3>

  {{#if isLoading}}
  <h2>{{t "loading"}}</h2>
  {{else}}
  <ul class="collection">
    {{#each model as |speaker|}}
          {{speaker-item tagName='li' speakerId=speaker.id firstName=speaker.firstName middleName=speaker.middleName lastName=speaker.lastName}}
    {{/each}}   
  </ul>
  {{/if}}
</div>

{{outlet}}